.profile__button-add {
  background-image: url(../../..//images/adding-pictures.svg);
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  align-self: center;
}